.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
.npmrc
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml
.voice-messages/**
